@import "../../../../../variables";

.yandex {
  &__map {
    position: relative;

    &-search {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 5px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $text;
      border-radius: 5px;
      border: 1px solid $advancedBack;
      // z-index: 2501;
      z-index: 1;
    }
  }
}

