@import "../../../../../variables";

.agentSelect {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  color: $textSmall;

  &__input {
    background: $bg;
    border: 1px solid $advancedBack;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $textSmall;
    border-radius: 8px;
    padding: 12px 0 12px 16px;
    width: 412px;
  }
}
