@import '../../variables';

$skeleton: rgb(243, 243, 243);
$animaiton: skeleton 0.5s ease infinite alternate;

@keyframes skeleton {
  to {
    opacity: 0.5;
  }
}

.skeleton{
    &__card{
        // width: px;
        // height: px;
        background: $skeleton;
        animation: $animaiton;
    
        @media screen and (max-width: 768px) {
        //   width: px;
        //   height: px;
        }
    }
}